.container{
    padding: 12vh 5vw 2vh 5vw;
    width: 90vw;
    height: 76vh;
    overflow: hidden;
    background: ghostwhite;
}

.name {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3vh;
}

.bio {
    text-align: center;
    font-size: 1.2rem;
}

.pic{
    display: block;
    height: 30vh;
    margin: 0 auto;
    padding-bottom: 2vh;
}