.clockContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 6vh 0 3vh 0;
    width: 90vw;
    height: 76vh;
    background: #c5f767;
}

.clock {
    font-size: 3rem;
    font-weight: 600;

}